<?xml version="1.0"?>
<launch>
  <arg name="left_camera_yaml"/>
  <arg name="right_camera_yaml"/>
  <node name="camera_info_publisher_left" pkg="miro_stereo_adaptor" type="camera_info_publisher_left.py" args="$(find miro_stereo_adaptor)/$(arg left_camera_yaml)"/>
  <node name="camera_info_publisher_right" pkg="miro_stereo_adaptor" type="camera_info_publisher_right.py" args="$(find miro_stereo_adaptor)/$(arg right_camera_yaml)"/>
  <node name="scaleimage_left" pkg="miro_stereo_adaptor" type="scaleimage_left" />
  <node name="scaleimage_right" pkg="miro_stereo_adaptor" type="scaleimage_right" />
  <node name="subpub" pkg="miro_stereo_adaptor" type="subpub" />
  
</launch>
