<?xml version="1.0"?>
<launch>    
        <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
             </node>

        <node pkg="image_view" type="stereo_view" name="stereo_view" respawn="true" output="screen">>
    <remap from="stereo" to="stereo"/>        
    <remap from="image" to="image_rect_color"/>
        </node>

        <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
</launch>

